@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    A content management system (CMS) is a computer application that allows publishing, editing and modifying content, organizing, deleting as well as maintenance from a central interface. Such systems of content management provide procedures to manage workflow in a collaborative environment. These procedures can be manual steps or an automated cascade. CMSs have been available since the late 1990s.
    CMSs are often used to run websites containing blogs, news, and shopping. Many corporate and marketing websites use CMSs. CMSs typically aim to avoid the need for hand coding, but may support it for specific elements or entire pages.
</p>
<a href="http://en.wikipedia.org/wiki/Content_management_system">Click here for more information</a>
