@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>Under Guidance of: </h3>
<h4>Prof. Christoph Hahn</h4>
<h4>Prof. Ajinkya Prabhune</h4>
<br />
<h3>The Content Management System Group:</h3>
<h4>11005867 - Jay Bhargav Barbhaiya</h4>
<h4>11005851 - Prasad Pomaji</h4>
<h4>11005595 - Shehzar Javed</h4>