@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Content Management System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
           Click on <a href="~/Subject/Index"><b>Manage Content</b></a>, to get started with content management.
        </p>
    </div>
    <div class="col-md-4">
        <h2>General Information</h2>
        <p> The Content Management System is developed to make the web content manager's job easier. </p>
        <p> One can manage their website without having any HTML skills.</p>
    </div>

    <div class="col-md-4">
        <h2>Powered By:</h2>
        <img src="~/Content/aspmvc5.png" height="100" width="150"/> &nbsp;&nbsp;
        <img src="~/Content/SQLServer.jpg" height="100" width="100" />
    </div>
</div>